# OS
*.zip
*.log
.DS_Store
Thumbs.db

# I hate Jupyter
[Cc]omp3122
.ipynb_checkpoints/
__pycache__/
*.pyc

# Node.js
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# IDEs folder
IDE's/

# IntelliJ / Android Studio
.idea/
*.iml

# Gradle
.gradle/
build/
local.properties

# Android
*.apk
*.ap_
captures/
output.json