ignore# OS
*.zip
*.log

# I hate Jupyter
[Cc]omp3122

# IntelliJ / Android Studio
.idea/
*.iml

# Gradle
.gradle/
build/
local.properties

# Android
*.apk
*.ap_
captures/
output.json

# Node.js
node_modules/
.env
package-lock.json